body{
	background-color:#ffffff;
	width:80%;
	margin-left:100px;
	margin-right:100px;
}
.wrapper{
	background-color:;
	color:black;
	font-family:"Times New Roman", Times, serif;
	margin-left:100px;
	margin-right:100px;
}
h1, h2, h3, h4, h5, h6{
	color:blue;
	font-weight:bolder;
}
h3{
	border-bottom:1px solid rgb(128,128,128);
}
a{
	text-decoration:none;
	color:black;
}
h1 > img{
	width:100px;
	height:100px;
	float:left;
	padding-right:20px;
}
h1 >p{
	padding-top:30px;

}
.head{
	padding-bottom:50px;
	display:inline;
	padding-right:10px;
}
.summary{
margin-top: 10px;
}
.summary > h4{
	padding-right:100px;
}
.content{
	padding-bottom:0px;
	margin-bottom:-5px;
}
.leftcontent{
	width:65%;
	float:left;
	padding:-10px;
}
.education{

}
.work{

}
.startNG{

}
.ddreams{

}
.skillset{

}
.interest{

}
.rightcontent{
	width:25%;
	float:right;
	margin-top:2px;
}
.info{

}
.skills{

}
span{
	padding-left:30px;
}